//                GLOBAL

$key-rem:                       0.5rem    // equal 8px
$padding:                       $key-rem
$grid-gap:                      $key-rem
$column-gap:                    $key-rem * 4
$thumbnails-size:               $key-rem * 10

$icon-sm:                       $key-rem * 3
$icon-lg:                       $key-rem * 20

$font-size-small:               75%



//              COMPONENTS

// button
$btn-width:                     auto
$btn-height:                    $key-rem * 5
$btn-radius:                    $btn-height / 2

// .input
$npt-height:                    $key-rem * 5
// - input
$npt-input-height:              $npt-height
// - .placeholder & - .error
$npt-placeholder-width:         $icon-sm
$npt-placeholder-height:        $icon-sm
// .clear
$npt-clear-width:               $icon-sm
$npt-clear-height:              $icon-sm


// menu
$menu-height:                   $key-rem * 5
$menu-item-width:               $menu-height
$menu-item-height:              $menu-height
$menu-item-padding:             $key-rem / 2

// list
$items-padding:                 $key-rem * 6 0 0 0

// midget
$midget-width:                  100%
// - status
$midget-status-height:          $key-rem * 2
// -- range
$midget-status-range-height:    $key-rem / 4
// - thumb
$midget-thumb-height:           $key-rem * 10
// -- img
$midget-thumb-img-width:        100%
$midget-thumb-img-height:       100%


// section singin|singup|forgottenpass
$err-height:                    $key-rem * 5

// --rate-height      calc(var(--key-rem) * 5);
// --btn-height       calc(var(--key-rem) * 5);
$range-height:                  $key-rem / 4


/* landscape and keybord - equal 320px */
$media-breakpoint-lk: $key-rem * 40
/* portrait and keybord  - equal 480px */
$media-breakpoint-pk: $key-rem * 60

$media-min-with:      $media-breakpoint-lk


